* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 18px;
}

body {
  font-family: "Poppins", sans-serif;
}

a {
  text-decoration: none;
}

input[type="text"] {
  text-transform: capitalize;
}

th,
td {
  padding: 0.6rem;
}

button {
  padding: 0.8rem 1.7em;
  font-size: 0.9rem;
  font-weight: 600;
  border-radius: 2rem;
  display: flex;
  align-items: center;
  gap: 0.3rem;
  cursor: pointer;
}

@media (max-width: 1000px) {
  html {
    font-size: 15px;
  }
}

@media (max-width: 824px) {
  html {
    font-size: 13px;
  }

  button {
    padding: 0.8rem 1.4em;
  }
}

@media (max-width: 690px) {
  html {
    font-size: 11px;
  }
}
